.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
	background: url("../public/weather_app_bg/landing_page_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Poppins", sans-serif;
}


@media only screen and (max-width:640px){
	.main{
		padding: 2rem;
	}
}