.safety_tip_container {
	display: flex;
	gap: 1rem;
	padding: 1rem 2rem;
	box-shadow: 0 7px 20px rgba(122, 122, 122, 0.3);
	border-radius: 2rem;
}

/* thermometer icons  */
.therm_icon_wrapper {
	width: 5rem;
	height: 5rem;
}

.therm_icon {
	width: 100%;
	height: 100%;
}

/* tip  */
.tip_wrapper {
	width: 65%;
	line-height: 1.5;
    padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

@media only screen and (max-width:640px){
	.safety_tip_container{
		border-radius: 1.5rem;
	}
	.therm_icon_wrapper{
		width: 4rem;
		height: 4rem;
	}
	.tip_wrapper{
		font-size: 0.9rem;
	}
}
